{{- $choices := list "personal" "work" -}}
{{- $workOrPersonal := promptChoice "Is this a work machine?" $choices }}
[data]
editor = {{ (promptChoice "What code editor?" (list "bbedit" "neovim")) | quote }} 
shell = "fish"
terminal = "wezterm"
enabled = []
profiles = [
  {{ $workOrPersonal | quote }}
]
