{{- if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") -}}
#!/opt/homebrew/bin/fish

fish_add_path /opt/homebrew/bin

set -Ux XDG_CACHE_HOME {$HOME}/Library/Caches

{{- end }}
{{- if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64") -}}
#!/usr/local/bin/fish

fish_add_path /usr/local/bin

set -Ux XDG_CACHE_HOME {$HOME}/Library/Caches

{{- end }}

set -l SHELL_PATH $(command -v fish)

# Add fish to /etc/shells if its not there.
if test -z "$(grep -F -- $SHELL_PATH /etc/shells)"
  echo "Adding $SHELL_PATH to /etc/shells"
  echo {$SHELL_PATH} | sudo tee -a /etc/shells > /dev/null
end

# Change login shell to fish
echo "Setting shell to $SHELL_PATH"
chsh -s {$SHELL_PATH} || true
