{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash
#
#

{{- if eq .chezmoi.hostname "air" "hikari" }}
export HOMEBREW_BUNDLE_FILE_GLOBAL="{{ .chezmoi.homeDir -}}/.config/brewfile/Brewfile"
{{ end }}

eval "$(/opt/homebrew/bin/brew shellenv)"

brew bundle install --cleanup --zap --global

defaults delete com.apple.dock persistent-apps

{{ template "dockicon" .dockicons.discord }}
{{ template "dockicon" .dockicons.music }}
{{ template "dockicon" .dockicons.safari }}
{{ template "dockicon" .dockicons.scrivener }}
defaults write com.apple.dock persistent-apps -array-add '{"tile-type"="small-spacer-tile";}'

{{ template "dockicon" .dockicons.publisher }}
{{ template "dockicon" .dockicons.endnote }}
{{ template "dockicon" .dockicons.excel }}
{{ template "dockicon" .dockicons.word }}
{{ template "dockicon" .dockicons.omnigraffle }}
defaults write com.apple.dock persistent-apps -array-add '{"tile-type"="small-spacer-tile";}'

{{ template "dockicon" .dockicons.calendar }}
{{ template "dockicon" .dockicons.contacts }}
{{ template "dockicon" .dockicons.mail }}
{{ template "dockicon" .dockicons.notes }}
defaults write com.apple.dock persistent-apps -array-add '{"tile-type"="small-spacer-tile";}'

{{ if eq .chezmoi.hostname "air" -}}
{{ template "dockicon" .dockicons.bbedit }}
{{ end -}}
{{ template "dockicon" .dockicons.preview }}
{{ template "dockicon" .dockicons.vlc }}
defaults write com.apple.dock persistent-apps -array-add '{"tile-type"="small-spacer-tile";}'

{{ template "dockicon" .dockicons.neovide }}
{{ template "dockicon" .dockicons.wezterm }}

killall Dock

{{- end }}
