asdf-plugin-manager  https://github.com/asdf-community/asdf-plugin-manager.git  00ba8ab
elixir               https://github.com/asdf-vm/asdf-elixir.git                 ea84283
nodejs               https://github.com/asdf-vm/asdf-nodejs.git                 93bd217
ruby                 https://github.com/asdf-vm/asdf-ruby.git                   2885ab7
terraform            https://github.com/asdf-community/asdf-hashicorp.git       22eb1c4
