{{- if and (hasKey . "github") (eq .github.identity_file "ameelio.pub") -}}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCt+g3x8HWfFfV5oq/Q5xvuJnEFbDnsqrQvn1IuSzxSmxG9epVjB9EaVVNSCFuR5XWOalcynxf8NxAy9xd+bGPtaW2/QLiJfeFcH7RhBDbhzy/3nmhETKKOWG4dDHQfubYPXZPVSX3y7owqRmlOeW5xsaSpYajArnzVhnXkvre7Bk57vVeTcnLRrZCJe2cVmi4f0RRjIflYFjvUx7b8ruKVRfmlN1KQpM2uG71xFLsHz+dm12BDZYWds8gtZncQ3T5v3Cn/2Cb0+EvZWZ+7Vf4ODtvIHm2+/A2I1LZZf2mafC/Bh89y92Q2NOm5NuCh83zEQFTiT0+x3nSUYJu/gQWdGz64NLMeYfOANkqXiF7NcrMVLQC8YT88E/DsnGlF70KpYeUYssiu85VhbxDaX7NcDIF/0fDbGZXIOU6T9AZIrogu5DALiIBp5yFU/Obocz2NgAK7pNR2CAAjtjqpd0IWbbYwf7r+A+OCJcXIvdy7ogzKrS35EgqUv5RGBssT5x147XzbxUdiO/HP/qRmbFPdyVZiTM6JG2+vw2Yqmg5m9PYpMOYquuByEgqhAEnYVexD9Gm5On1jENm/yv+2CM7Pq8eCdefKBWBOIlpAvkuLMD7jEZioBAFu846ohr7TGNYOUqimHbgRf+DLNeXMUSaUT5vIc3FsgngzfuoD66eGYw== openpgp:0x37229ACC
{{- end -}}
