{{- if eq .chezmoi.hostname "hikari" -}}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC17IZZKXhx/oQpDxvZrIrm0GsWw7Z1OUObDDlGf062cTeUCfeXvCUwY4rt2BKftUpt3Jox1+jg157E5RSh75Y1k6SjTsXqByRsbI5srHUxsvFI09VoUIElFmZIZhzuJzSUEV0xUDkObfPvlp/WQjE84ZxfjtSYfGkgS+ZzNaH/Hlx4db8wxxhDIZDO2UiTFA0KVPuVfj4AcHDCyeCHpC4PECXo0d/QoSIqtsGa5KKVpOwYN4HdkfnFnZU/Sg/wZqkhib2vLGiRVp4vLGyhjszdz1c79DdVrkD1BOM7RN5nHx3F10erb28uY22QqZzuoYmQqP+pCtyyH9PmRD2qPeoArftrnqWDNgu7TJ0bBx0WErLQUPKNP0cvH3k2EbOd+98yb4nhwaahL/E8ZfH0sz+vv5YAfH4UyxtVquq27OVicL92mYOU34uN1A9witmimqY67ro0Wb8eGInTnmuGgD0m9jVRSS0C1Hw/2LArMOo6osPhMZVDoC9nZ3QiA29XcSkP9UcoiYSHzmPF9nzEx2NQx8y8IiWO7HITgZqMb93cXq0TRkX/hZiAQq6Yu6dajV/UbjYPGeA8l7RjuCgVbbkGFeFYlCWz0y6ARmyn4myXNLKTdlCkVjGmHTt2Idfqzb2mM/swuLeJg4u7I0plThWpaY/8mtM9CibkVprnuIxtUw== cardno:31_769_646
{{- end -}}
